html, body {
  margin: 0%;
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  width: 100%;
  background: #e6e6e6;
  text-align: center;
}

#title {
  text-align: center;
  padding: 10px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0.6rem 3rem rgba(0, 0, 0, 0.75);
}

#img-div {
  padding: 30px;
  margin: 0;
}

#img-caption {
  margin: 25px 0 5px 0;
  font-family: "georgia";
  font-size: 18px;
}

p {
  font-family: "georgia";
  font-size: 18px;
  line-height: 150%;
}

blockquote {
  font-family: Vollkorn;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 20px;
}

.format {
  text-align: left;
  margin: 30px 150px 50px 210px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #ffffff;
}